.progressbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin: 30px 0 0 0;
  }

  &__icon {
    width: 300px;
    margin: 4px;
    height: 20px;
    position: relative;
    background: linear-gradient(90deg, #eee 50%, transparent 50%);
    background-color: gray;
    background-size: 300%;
    background-position: 100%;
    border-radius: 5px;
    transform: scale(-1);
    transition: 0.3s;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: linear-gradient(
        135deg,
        transparent 25%,
        rgba(238, 238, 238, 0.5) 25%,
        rgba(238, 238, 238, 0.5) 30%,
        transparent 30%,
        transparent 35%,
        rgba(238, 238, 238, 0.5) 35%,
        rgba(238, 238, 238, 0.5) 70%,
        transparent 70%
      );
      animation: progress 0.5s linear infinite;
      background-size: 60px 100%;
      box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2),
        inset 0 -2px 1px rgba(0, 0, 0, 0.2);
      background-position: 50%;
    }
  }
}

@keyframes progress {
  to {
    background-position: 60px 100%;
  }
}
